// Specific CSS for your home-page
.img-me{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-top: 60px;
}

#about{
    background-color: #343a40;
    color: #f9f4ef;
}

.navbar{
    background-color: #343a40;
}

#contact{
    background-color: #343a40;
        a {
            color: #f9f4ef;
            font-size: 30px;
        }
        .fab{
            padding-right: 40px;
        }
}



#contact{
    a:hover {
        color: #ed6663;
}
}

.btn-resume {
    background-color: #ed6663;
    font-size: 24px;
    color: #f9f4ef;
    border: none;
    border-radius: 6px;
}

.btn-resume:hover{
    background-color: #ed6680;
}

.justify{
    text-align: center;
}

#thesis{
    background-color: #30475e;
    color:white;
    
}

#thesis:hover{
        background-color: #ed6680;
        
    }

.first{
    border-radius:20px;
}

.project-part{
    .project{
        text-align: center;
    }
    .program{
        text-align: center;
    }
    
}