// Specific CSS for your home-page
body {
	background :#f9f4ef; /* fallback for old browsers */
	background: #f9f4ef;/* 	Chrome 10-25, Safari 5.1-6 */
	background:#f9f4ef; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.picture{
    // width: 60%;
    // height: 580px;  
    // object-fit: cover;
    // background-size: cover;
    // padding-top: 150px;
    // padding-bottom: 30px;

    width: 24%;
   
    height: 360px;
    object-fit: cover;
    filter: brightness(100%);
    border-radius: 40px;
    margin-top: 100px;
    margin-bottom: 50px;
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 34vh) {
  .picture {
    min-width: 30vh;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 30px) {
  .picture {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .picture {
    min-width: 45%;
  }
}

#junior{
    color: #f9f4ef;
    
}


.navbar-brand{
    color: #ed6663;   
    text-decoration: none;
    font-family: "Nunito", "Helvetica", "sans-serif";
}
    


.navbar{
    margin-bottom: 1000px;
}



// .navbar-toggler{
//     margin-left: 278px;
// }

.navbar-nav{
   
    font-size: 20px;
}

#navbarNav{
   a{
       color: #ed6663; 
   }
        
    
}

#navbarNav{
   a:hover{
       color: white; 
   }
   }
#about{
   
    color: #343a40;
    section{
        font-weight: normal;
    font-size: medium;
    }
    h1{
        justify-content: center;
       
    }
    h4{
        font-weight:lighter;
        font-size: 20px;
        line-height: 1.4;
    }
}

.navbar{
    background-color: #343a40;
}

#contact{
    
        a {
            color: #343a40;
            font-size: 50px;
          
        }
        .fa-linkedin{
            margin-right: 30px;
        }
        .fa-github{
            margin-right: 30px;
        }
        
}

#contact{
    a:hover {
        color: #ed6663;
}
}



.cv{
    a{
        color:#ed6663;
    border-color: #ed6663;
    border-radius: 40px;
    padding: 15px; 
    margin-top: 25px;
    }
     
   
}

.cv{
    a:hover{
        color:lightgrey;
        border-color: lightgrey;
    }
}




.justify{
    text-align: center;
    
}

#thesis{
    background-color: #30475e;
    color:white;
    
}

#thesis:hover{
        background-color: #ed6680;
        
    }

.first{
    border-radius:20px;
}

.project-part{
    .project{
        text-align: center;
        font-weight: bold;
    }
    .programc{
        text-align: center;
        font-weight: bold;
    }
    
}

.statement{
    padding-top: 40px;
}

.justify{
    h4{
        font-weight: bold;
    }
    
}


.project-title{
    margin-top: 20px;
    font-weight: bold;
}

.visit{
    margin-top: 40px;
    font-weight: bold;
}

.about-me{
    justify-content: center;
   
}

.last-project{
    margin-bottom: 20px;
}

#more{
    color: #343a40;;
    font-weight: bold;
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    a:hover{
        color:#ed6663;
    }
}

                                                                                                                                 