#project-first{
    background-size: cover;
    background-position: 50% 0%;
    background-attachment: scroll;
}

.first-card-general-info{
    background-color: black;

}

.first-top{
   padding-bottom: 27.77777777777778rem;
    background-image: url(https://imgur.com/ZaRAvUQ.png);
    background-size: cover;
    background-position: 50% 0%;
    background-attachment: scroll; 
}

.summary-card{
    background-color: #f1f6f9;
    padding-top: 40px;
    padding-bottom: 70px;
    padding-left: 20px;
}

.frame{
    margin-top: 20px;
    
}

.btn-thesis{
    
    border-radius: 10px;
    background-color: black;
}
  
.project-part{
    
    h3, h4 {
        color:#343a40;
    }
}

.summary-part{
    

    
     h3 {
        color:#343a40;
        margin-top: 20px ;
    }

    h4{
        color:#343a40;
    }
}

.problem{
    
    color: #ec5858;
    
    
    h3{
        margin-bottom: 20px;
        margin-right: 60px;
        margin-top: 40px;
       
    }
    h4 {
        color: black;
         margin-top: 10px;
    }
    i{
        font-size: 40px;
        margin-top: 20px;;
    }
}


.goals{
   
    h3{
        margin-top: 40px;
    }
}

.next-one{
    background-color: lightgrey;
    color:#343a40;
    padding: 80px;
    text-align: center;
    font-weight: bold;
}

.next-project{
    color:white;
}

.first{
    margin-top: 20px;
    margin-bottom: 50px;
}

