#project-first{
    background-size: cover;
    background-position: 50% 0%;
    background-attachment: scroll;
}

.content{
    padding-left: 10px;
}

.summary-part{
    
    margin-top: 40px;
    margin-bottom: 40px;
    
     h3 {
        color: #ed6663;
        margin-top: 40px ;
        margin-bottom: 40px;
        
        
    }

    h4{
        color:#343a40;
        line-height: 1.4;
       
    }
}

.summary-card{
    padding-top: 40px;
    padding-left: 10px;
}

.problem{
    h3{
        color:#343a40;
        padding-top: 20px;
        color: #ed6663;
    }
    h4{
        color: black;
        padding-top: 10px;
        padding-right: 30px;
       
    }
    i{
        font-size: 30px;
        padding-right: 30px;
        justify-content: center;
    }
}




.btn-thesis{
    
    border-radius: 10px;
    background-color: black;
    margin-bottom: 20px;
    margin-top: 20px;
}
  
.project-part{
    
    h3, h4 {
        color:#343a40;
    }
}




.goals{
 
   padding-bottom:40px ;
   padding-left: 10px;
   h3{
       color: #ed6663;
        padding-bottom:40px ;
   }
   h4{
       line-height: 1.4;
   }
   .final{
       margin-bottom: 20px;
   }
   .create{
       padding-bottom: 10px;
   }
}

.next-one{
    background-color: #f4f9f9;
    color:#343a40;
    padding-left: 20px;
    padding-top: 60px;
    padding-bottom: 50px;
    margin-bottom: 40px;
}

.next-project{
    color:white;
}

.first{
    margin-top: 20px;
    margin-bottom: 50px;
}

.card-category {
  background-size: cover;
  background-position: center;
  background-color: #839b97;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.journey{
    width: 80rem;
    
    
    margin-bottom: 20px;
    
}

.c-journey{
    
    h3{
       
        color:#ed6663;
        margin-bottom: 40px;
    }
}

.frame2{
    margin-top: 40px;
}

// .frame:hover {
//   -ms-transform: scale(1.4); /* IE 9 */
//   -webkit-transform: scale(1.4); /* Safari 3-8 */
//   transform: scale(1.4); 
// }

.img-main{
     width: 30rem;
}

.img-diamond{
    width: 60rem;
    object-fit: cover;
    background-size: cover;
}


.diamond{
    h4{
        margin-right: 40px;
        
    }
    
}

.double-diamond{
    padding-left: 10px;
    padding-top: 20px;
    h3{
        color: #ed6663; 
        margin-bottom: 40px;
    }
    h4{
        margin-bottom: 40px;
    }
   
}

.pro{
    width: 50rem;
    padding-right: 20px;
    
}

.next{
    padding-top: 40px;
}


.employee{
    width: 42rem;
     
    object-fit: cover;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 30px;
}

.program{
    line-height: 1.4;
}

.thesis{
    padding-bottom: 40px;
}

.viewing{
    padding-top: 60px;
    padding-bottom: 60px;
}

.pers{
    padding-top: 40px;
}

.main-img{
    margin-top: 120px;
}

.testimonial{
    padding-top: 10px;
    
}