.second-top{
   padding-bottom: 27.77777777777778rem;
    background-image: url(https://imgur.com/HycMqLT.png);
    background-size: cover;
    background-position: 100% 30%;
    background-attachment: scroll; 
}

.figma{
    padding-left: 143px;
    padding-bottom: 47px;  
}