.second-top{
   padding-bottom: 27.77777777777778rem;
    background-image: url(https://imgur.com/HycMqLT.png);
    background-size: cover;
    background-position: 100% 30%;
    background-attachment: scroll; 
}

.figma{
    padding-left: 143px;
    padding-bottom: 47px;  
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 60px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

#category-card{
    padding-top: 60px;
}

.card-category {
  background-size: cover;
  background-position: center;
 
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.breakfast{
  text-decoration: none !important;
}

.breakfast:hover{
  background-color: white;
  color: #f9f4ef;
  background-image: linear-gradient(rgba(8, 10, 34, 0.171), rgba(8, 10, 34, 0.171))
}



.first-card{
   background-image: image-url('main_im.png');
   filter: brightness(60%);
   h3{
     color: black;
     text-align: center;
     font-weight: bold;
   }
   }
   

.second{
   background-image: image-url('chcc.jpg');
   filter: brightness(60%);
   h3{
     color: black;
     text-align: center;
     font-weight: bold;
   }
  
}

.third{
   background-image: image-url('refert.png');
    filter: brightness(60%);
   h3{
     color: black;
     text-align: center;
     font-weight: bold;
   }
}

.fourth{
  background-image: image-url('andrea.png');
  filter: brightness(60%);
   h3{
     color: black;
     text-align: center;
     font-weight: bold;
   }
}

