<nav class="navbar navbar-expand-lg fixed-top navbar-dark">

        <a class="navbar-brand" href="/">AndyTred</a>
        
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#about"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#projects"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contact"></a>
        </li>
        <li class="nav-item">
            
        </li>
        </ul>
    </div>
</nav>

        <div id="project-first" class="">
            <div class="card m-3" style="">
                <img class="card-img-top first-top" alt="...">
                
            </div>
        </div>
       
        <div class="summary-card">
            <div class="project-part">
                <h3 class="project">PROJECT</h3>
                <h4 class="program">Program for high potential employees</h4>
            </div>
            <div class="summary-part">
                <h3>SUMMARY</h3>
                <h4 class="program">For my master thesis I created program for high potential employees. This program can gain a competitive advantage by
                                    identifying and supporting potential leaders within a company more effectively.</h4>
                <div class="frame">
                    <%= image_tag "frame.png", :class => "justify-content-center" %>
                </div>
            </div>
            
            <a href="https://www.theseus.fi/bitstream/handle/10024/141254/Tredrea_Andrea.pdf?sequence=1&isAllowed=y" target="_blank" class="btn btn-outline-light btn-thesis" role="button">Read Master Thesis</a>
            <div class="problem">
                <h3>PROBLEM STATEMENT</h3>
                <h4> Identifying and training high potential employees is expensive and time consuming. As a result, the goal of this program
is to give firms the best return on the investment possible by identifying the most effective
leadership identification and training practices. 
                </h4>

                
            </div>

            <div class="goals">
                <h3>PROJECT GOALS</h3>
                <div class="d-flex justify-content-around">
                    <div class="frame">
                        <%= image_tag "diamond.png", :class => "justify-content-center" %>
                    </div>
                    <div class="frame justify-content-center">
                        <%= image_tag "program.png", :class => "justify-content-center" %>
                    </div>
                </div>
                
                <span style="font-size: 300%; color: #ec5858;">&#9312;</span>
                    <h4> How to best identify potential leaders</h4>
                <span style="font-size: 300%; color: #ec5858;">&#9313;</span>
                    <h4>Create most effective training</h4>
                <span style="font-size: 300%; color: #ec5858;">&#9314;</span>
                    <h4>Prototyping and testing</h4>
                <span style="font-size: 300%; color: #ec5858;">&#9315;</span>
                    <h4>Deliver program</h4>
            </div>

            <div class="problem d-flex justify-content-around">
                <div>
                    <h3>RESEARCH METHODS</h3>
                </div>
                <div>
                    <div class="methods">
                        <i class="far fa-address-card "></i>
                        <h4>Business Model Canvas</h4>
                    </div>
                    <div class="methods">
                        <i class="fas fa-users"></i>
                        <h4>Interviews</h4>
                    </div>
                    <div class="methods">
                        <i class="far fa-map"></i>
                        <h4>Customer journey</h4>
                    </div>
                    <div class="methods">
                        <i class="fas fa-male"></i>
                        <h4>Persona</h4>
                    </div>
                </div>
                
            </div>
        
        </div>

        


        
        <div class="next-one">
            <%= link_to  "Next project", second_path, class: "next-project" %>
        </div>
        <div id="contact" class=" p-3  d-flex flex-row flex-wrap justify-content-center align-items-center"> 
            <a href="https://www.facebook.com/andrea.sabova2/"target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/andreatredrea/"target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/Andytred"target="_blank"><i class="fab fa-github"></i></a>
        
            <a target="_blank" href="https://drive.google.com/file/d/1rD7Fi14X1iZDaznNmJ_Q7AyYsl-7Ityf/view" download>
                <button type="button" class="btn-resume m-3">Resume</button>
            </a>
        </div>

    </div>

    <div class="footer-copyright text-center py-3">Handcrafted by @andrea.tredrea 2020</div>
