<nav class="navbar navbar-expand-lg fixed-top navbar-dark d-flex justify-content-between">
  <div>
    <a class="navbar-brand" style="color: #ed6663;" href="/">Andrea Tredrea</a>
    
  </div>
  <div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/#about">About Me</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" href="/second">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
        <li class="nav-item">
          <a target="_blank" class="nav-link" href="https://drive.google.com/file/d/1rD7Fi14X1iZDaznNmJ_Q7AyYsl-7Ityf/view" download="">
              Resume
          </a>
        </li>
      </ul>
    </div>
  </div>
  
</nav>

<div  class="h-100 p-2 d-flex flex-column justify-content-center align-items-center">
    <%= image_tag "refert.png", :class => "img-fluid main-img justify-content-center img-main" %>
</div>




<div id="about" class=" container p-5 px-10 ">

    <div id="about" class="d-flex flex-column p-5 px-10  align-items-center">
        <div class="d-flex">
            <div><h4 class="p-3">PRODUCT:</h4></div>
            <div><h4 class="p-3 manual"><strong style="font-weight: bold;">A WEBSITE WITH MOBILE FIRST DESIGN FOR A JUNIOR PROFESSIONALS LOOKING FOR REFERRAL</strong></h4></div>
        </div>
        <div class="d-flex">
            <div><h4 class="p-3">ROLE:</h4></div>
            <div><h4 class="p-3 manual"><strong style="font-weight: bold;"> DESIGNER AND FRONT-END WEB DEVELOPER</strong></h4></div>
        </div>
    </div>

    <div class="container">      
        <div class="content">
            <div class="summary-part">
                <h3>SUMMARY</h3>
                <H4>This was the final project for my team at the LeWagon bootcamp in Barcelona. We, a team of 3, were tasked with creating a website from scratch. At Le Wagon we learned Ruby on Rails, HTML, CSS, Bootstrap, JavaScript ES6, SQL, git, GitHub and how to deploy projects in Heroku. Our task was to utilize these skills to build a functioning website in two weeks</H4>
        </div>
    
    </div>

   
           

    <div class="double-diamond ">
        <h3>PROCESS</h3>
        <div class="diamond ">
            <h4>We utilized Trello as a project management tool to match our agile methodology. To kick off the project we identified the main goals and listed the features to accomplish those goals in prioritized order. We started each morning with a five-minute ‘stand up’ meeting to share what we have done, what we will do next, and communicate with any blockers</h4>
            <div  class="h-100 p-2 d-flex flex-column justify-content-center align-items-center">
                <%= image_tag "trello.png", :class => "img-fluid justify-content-center img-diamond" %>
            </div>
        </div>
    </div>



    <div class="summary-card">
        <div class="summary-part">
            <h3><strong>Design<strong></h3>
            <h4 style="font-weight: normal">Before jump in and start coding I made a design of a mobile application in Figma
            
            <div  class="h-100 p-2 d-flex flex-column justify-content-center align-items-center">
              <%= image_tag "referit.png", :class => "img-fluid me justify-content-center" %>
            </div>
            
            <h3><strong>Usability testing</strong></h3>
            <h4 style="font-weight: normal">To confirm the usability we ran a user test with two individuals</h3>
    </div>    

   
        <div class="summary-part">
            <h3>REFLECTIONS</h3>
            <H4 style="font-weight: normal"> I'm particularly proud of how we quickly integrated lessons on proper pre-production planning and UX style guide creation & maintenance so our team was able to be far more flexible and effective in the development phase. As a result of this proper process and planning I believe we delivered a far more usable, maintainable, and scalable end result</h4>
        </div>
           
                
    <div class="d-flex flex-column justify-content-center align-items-center viewing">
        <h3>Thanks for viewing!</h3>
        <div id="contact" class="d-flex flex-row flex-wrap justify-content-center align-items-center"> 
            <a href="https://www.linkedin.com/in/andreatredrea/"target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/Andytred"target="_blank"><i class="fab fa-github"></i></a>
            <a href="mailto:andrea.tredrea@gmail.com"target="_blank"><i class="fas fa-envelope"></i></a>
        </div>
        <div class="cv d-flex flex-row flex-wrap justify-content-center align-items-center thesis">
            <a target="_blank" href="http://www.referit.careers/" type="button" class="cv btn btn-secondary;" download>VISIT WEBSITE</a>
        </div>
    </div>

     <div class="d-flex justify-content-center align-items-center">
      <a id="next"href="/fifth" style="font-size: 30px; color: #ed6663; justify-content: center;">Next project  <i class="fas fa-rocket"></i></a>
    </div>
  </div>
</div>
</div>
<div class="footer-copyright text-center py-3" style="background-color: #343a40; color: #ed6663; font-weight: normal;">Handcrafted with <i class="fas fa-heart"></i> by andrea.tredrea 2020</div>