<nav class="navbar navbar-expand-lg fixed-top navbar-dark d-flex justify-content-between">
  <div>
    <a class="navbar-brand" style="color: #ed6663;" href="/">Andrea Tredrea</a>
    
  </div>
  <div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/#about">About Me</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" href="/second">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
        <li class="nav-item">
          <a target="_blank" class="nav-link" href="https://drive.google.com/file/d/1rD7Fi14X1iZDaznNmJ_Q7AyYsl-7Ityf/view" download="">
              Resume
          </a>
        </li>
      </ul>
    </div>
  </div>
  
</nav>




<div  class="container category-cards p-4">
  <div class="cards">

    <a href="/first" class="card-category first-card breakfast">
     <h3>Manual - service design thinking</h3>
    </a>

    <a href="/third" class="card-category second breakfast">
      <h3>Chocolate truffels - UX/UI design</h3>
    </a>
    
    <a href="/fourt" class="card-category third breakfast">
      <h3>ReferIt - Web development</h3>
    </a>

    <a href="/fifth" class="card-category fourth breakfast">
      <h3>Portfolio - Front-end web development</h3>
    </a>

  </div>
</div>

 <div class="d-flex flex-column justify-content-center align-items-center viewing">
        <div><h3>Thanks for viewing!</h3></div>
        <div id="contact" class="d-flex flex-row flex-wrap justify-content-center align-items-center"> 
            <a href="https://www.linkedin.com/in/andreatredrea/"target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/Andytred"target="_blank"><i class="fab fa-github"></i></a>
            <a href="mailto:andrea.tredrea@gmail.com"target="_blank"><i class="fas fa-envelope"></i></a>
        </div>
        
    </div>


<div class="footer-copyright text-center py-3" style="background-color: #343a40; color: #ed6663; font-weight: normal;">Handcrafted with <i class="fas fa-heart"></i> by andrea.tredrea 2020</div>

